body{

    margin: 0px;

}

.father{

        background-color: rgb(251, 255, 0);
        height: 100px;
      }
      
      .father img{
      
            margin-left: 60px;
            margin-top: 20px;
      
      }
      
      
      .line{
      
         float: right;
         margin-top: 40px;
         margin-right: 10px;
      
      }
      
      .line a{
      
        margin: 40px;
        text-decoration: none;
        color: black;
        
      
      }
      
      .line a:hover{
      
        background-color: rgb(249, 253, 0);
        color: rgb(0, 4, 255);
      
      }

#header{

        background-color: yellow;
        text-align: center;
        margin-top: 100px;

}

#header b{

        font-size: 60px;
        font-family: 'Fredoka', sans-serif;

}

#header {

        font-size: 30px;
        

}

.push{

      margin-left: 45%;
      margin-right: 49.2%;
      
}

.push button{

            background-color: rgb(255, 208, 0);
            border: none;
            border:2px solid rgb(0, 0, 0);
            border-radius: 30px;
            height: 50px;
            width: 100px;
  
}

.push button:hover{

        background-color:rgb(248, 94, 94);

}


.fastline h1{

         text-align: center;
         font-family:'Fredoka', sans-serif;
         font-size:50px ;

}

.fastline p{

           font-size: 20px;
           text-align: center;

}

.portheader{

            margin-top: 10%;
            margin-left: 28%;
            margin-right: 23%;
            background-color: yellow;
            height: 100px;

}

.portheader a{

              margin-left: 30px;
              text-decoration: none;

}

.alwork{

        margin-left: 70px;
        padding: 20px;
        align-items: center;

}

#lastto{

        margin-left:30px ;
        margin-right:30px ;
        display: flex;
        flex-direction: row;
        align-items: center;

}

#lastto b{

          margin-left: 5px;
          font-size: 50px;
          font-family: Georgia, 'Times New Roman', Times, serif;

}

#lastto p{

          margin-left: 180px;
          font-family: Georgia, 'Times New Roman', Times, serif;

}

#btn{
     
     margin-left: 686px;
     margin-right: 467.2px;

}

#btn button{
      
            
            background-color: white;
            border-radius: 30px;
            height: 50px;
            width: 100px;

}

#btn button:hover{
      
            
       background-color: rgb(248, 94, 94);;
  

}



.step0{

        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(255, 208, 0);
      
       
 
 }
 
 .step0 b{
 
         font-size: 20px;
 
 }
 
 
 #main{
 
       height: 50px;
       width: 60px;
 
 }
 
 #FB{
 
    height: 50px;
    width: 60px;
    background-color: yellow;
 
 }
 
 #TI{
 
   height: 50px;
   width: 60px;
   background-color: yellow;
 
 }
 
 #BR{
 
   height: 50px;
   width: 60px;
   background-color: yellow;
 
 }
 
 #LI{
 
   height: 50px;
   width: 60px;
   background-color: yellow;
 
 }
 
 
  

