.father{

        background-color: rgb(251, 255, 0);
        height: 100px;
      }
      
      .father img{
      
            margin-left: 60px;
            margin-top: 20px;
      
      }
      
      
      .line{
      
         float: right;
         margin-top: 40px;
         margin-right: 10px;
      
      }
      
      .line a{
      
        margin: 40px;
        text-decoration: none;
        color: black;
        
      
      }
      
      .line a:hover{
      
        background-color: rgb(249, 253, 0);
        color: rgb(0, 4, 255);
      
      }

.fastline h1{

         text-align: center;
         font-family:'Fredoka', sans-serif;
         font-size:50px ;

}

.fastline p{

           font-size: 20px;
           text-align: center;

}

.portheader{

  margin-top: 10%;
  margin-left: 28%;
  margin-right: 23%;
  background-color: yellow;
  height: 50px;

}

.portheader a{

             text-decoration: none;
             margin: 14px 16px; 

}

.alwork{

        margin-left: 70px;
        padding: 20px;
        align-items: center;

}


.step0{

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 208, 0);

 

}

.step0 b{

   font-size: 20px;

}


#main{

 height: 50px;
 width: 60px;

}

#FB{

height: 50px;
width: 60px;
background-color: yellow;

}

#TI{

height: 50px;
width: 60px;
background-color: yellow;

}

#BR{

height: 50px;
width: 60px;
background-color: yellow;

}

#LI{

height: 50px;
width: 60px;
background-color: yellow;

}